block variables
  pageName = 'Home'

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')

  link( rel='icon', href='images/favicon.png', type='image/x-icon' )
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap' rel='stylesheet')
  title= pageName
body
  .page
    .page-header
      ul.page-header-nav
        li(class= pageName === "Reactic" ? "active" : ""): a(href='./index.html') Home
        li(class= pageName === "In Game" ? "active" : ""): a(href='./in-game.html') In game
        li(class= pageName === "Math Ended" ? "active" : ""): a(href='./match-ended.html') Math ended
    block page

    // coded by Andrii Helever
    // GitHub - https://github.com/gelbman20