body {
  overflow-x: hidden;
  font-family: $font-family-base;
  font-size: $font-size-body;
  font-weight: $fw-base;
  line-height: $lh-base;
  color: $body;
}

h5 {
  font-size: 22px;
  line-height: 1.2;

  @include media-breakpoint-up(sm) {
    font-size: 25px;
  }
}

h6 {
  font-size: 18px;
  line-height: 1.2;

  @include media-breakpoint-up(sm) {
    font-size: 20px;
  }
}

.medium {
  font-size: 18px;
}

.big {
  display: inline-block;
  font-size: 18px;

  @include media-breakpoint-up(sm) {
    font-size: 20px;
  }
}

h5 + .big { margin-top: 5px; }

.link {
  display: inline-block;
  font-size: 18px;
  text-decoration: underline;
  transition: .3s ease-out all;

  &, &:focus, &:active {
    color: $blue;
  }

  &:hover {
    color: $primary;
  }
}

* + .link { margin-top: 12px; }