extends ../_skeleton

block variables
  - pageName = 'Reactic'

block page
  .popup-wrapper
    .popup-inner.bg-image(style='background-image: url(images/bg.png)')
      .popup.popup-sm
        .unit.unit-xs.align-items-center
          .unit-left: img(src="images/logo.png", width="77", height="80", alt="Reactiq")
          .unit-body
            .popup-content
              h5
                | +
                =" "
                span.kill-count 1
                =" "
                | Kill
              span.big.color-green Update
      br
      br
      .popup.popup-sm.active
        .unit.unit-xs.align-items-center
          .unit-left: img(src="images/logo.png", width="77", height="80", alt="Reactiq")
          .unit-body
            .popup-content
              h5
                | +
                =" "
                span.kill-count 1
                =" "
                | Kill
              span.big.color-green Update
