doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap' rel='stylesheet')
  link(rel="stylesheet" href='css/style.css')
  title Reactiq
body
  .page
    .popup-wrapper
      .popup-inner.bg-image(style='background-image: url(images/bg.png)')
        .popup.empty
          .unit.unit-xs.align-items-center
            .unit-left: img(src="images/logo.png", width="77", height="80", alt="Reactiq")
            .unit-body
              .popup-content
        br
        br
        .popup.active
          .unit.unit-xs.align-items-center
            .unit-left: img(src="images/logo.png", width="77", height="80", alt="Reactiq")
            .unit-body
              .popup-content  Checking your username...
        br
        br
        .popup.active
          .unit.unit-xs.align-items-center
            .unit-left: img(src="images/logo.png", width="77", height="80", alt="Reactiq")
            .unit-body
              .popup-content  Hi
                =" "
                span.nick-name.text-bold reactiq-dev
                br
                =" "
                |  your matches are now tracked

        br
        br
        .popup
          .unit.unit-xs.align-items-center
            .unit-left: img(src="images/logo.png", width="77", height="80", alt="Reactiq")
            .unit-body
              .popup-content  Checking your username...
        br
        br
        .popup
          .unit.unit-xs.align-items-center
            .unit-left: img(src="images/logo.png", width="77", height="80", alt="Reactiq")
            .unit-body
              .popup-content  Hi
                =" "
                span.nick-name.text-bold reactiq-dev
                br
                =" "
                |  your matches are now tracked

